@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

html,body,#root{
  height:100%;
  position: fixed;
  top: 0;left: 0;bottom: 0;right: 0;
  font-size: 16px;
  background: white;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}



.content {
  margin-top: 10rem;
  margin-left: 10rem;
  width:100%;
  align-content: flex-start;
  
}



.p {
  position: relative;
  min-height: 100vh;
  color: black;
  align-content: center;
}
.logo {
  position: relative;
  display: flex;
  width: 3em;
  flex-direction: row;
  left: 10rem;
  top: 5rem;
}
.heading-background{
  position: fixed;
  opacity: 0.05;
  font-size: 25em;
  left:-0.2em;
  top:-0.5em;
  z-index: -100;
  color:#9352ae;
}
header{
  width: 70%;
  display: flex;
  flex-direction: row;
  position: relative;

}

nav{
position: absolute;
width: 50%;
 right: 10rem;
top:5rem;
 
z-index: 100;
}
nav li{
display: inline;
  padding:1em;
  height: 1em;
  cursor: pointer;



}
nav li .link{
  text-decoration: none;
  color: black;
  padding:1em;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: 1;
}
.active{
  color:black;
  opacity: 1;
}

.header-title button{
  background: black;
  border: 0px;
  padding: 1rem 3rem;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  margin-top: 3rem;
}
.header-title button:hover{
  opacity: 0.8;
}
.header-title button a{
  font-family: 'Open Sans', sans-serif;
  color:white;
  text-decoration: none;
}
.header-title{

  position: relative;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-align: left;

}
.about{

  display: flex;
  flex-direction: row;
  
}
.about-content{
  width: 80%;
  position: relative;

}
.about-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-align: left;
}
.about-content p{
  font-size: 1.3em;
  text-align: left;
  width: 37em;
}
.about img{
  text-align: left;
  width: 80%;
}
.work{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  column-count:2;
  column-gap: 3em;
  grid-row-gap: 2em;
}
.work .heading{
  font-family: 'Montserrat', sans-serif;
  font-size: em;
  text-align: left;
}
.work .work-content{
  width:80%;
  align-content: center;
  position: relative;

  flex-flow: column;
  column-width: 40%;


}
/* .work-wrap{
  width:100%;
  align-content: center;
  margin-top: 5em;
  margin-left:5em;
  
} */


.project img{
width: 30rem;  
height: 30rem;
border-radius:1rem;
box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.project-text{
position: relative;
top:-30rem;
left:32rem;
}
.contact-content{
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 0;

}
.contact{
  position: relative;
  display: flex;
  flex-direction: column;
  bottom:5em;

  align-items: flex-start;
  text-align: left;
}


.contact h1{
    font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-align: left;
}
.amazing-color{
  color:#9352ae;
  opacity: 1;
}

.contact .email{
  color:black;
  font-size: 1rem;
}
.contact li{
  display: inline-block;
  margin-top:0;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 0;
}
.contact li a{
  text-decoration: none;
  color:black;
}
.gallery{
  display: block;
  position: absolute;
  top:10em;
  left: 8em;
  bottom: 10em;
  width: 80%;

}


